.diploma-viewer-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: white;
}

.diploma-image {
  width: 70%;
  height: auto;
  display: block;
  max-width: 100%;
}
